.cache/
.config/
.dbus/
.dotnet/
.gnupg/
.gvfs/
.landscape/
.local/
.vscode-server/
build/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Videos/
Templates/
thinclient_drives/
.bash_history
.bashrc
.bash_logout
.ICEauthority
.motd_shown
.profile
.wget-hsts
.sudo_as_admin_successful
.Xauthority
.xorgxrdp.10.log
.xorgxrdp.10.log.old
.xsession
.ssh
.gitconfig
bx_enh_dbg.ini